
{% extends "base.html.twig" %}
{% block title %}SymCovoit - Propal{% endblock %}
{% block body %}

<div class="container">
    <h1 class="text-center card-header bg-primary text-white mt-4">Formulaire de Proposition / Demande</h1>

    <form action="{{ path('propal_edit_post') }}" method="POST">
        {# {{eventId}}  #}
        {# {{ dump(variable) }}#}
            <div class="form-group">
                <label for="event_id" class="form-label mt-4"><font style="vertical-align: inherit;"></font></label>
                <input type="hidden" class="form-control" id="{{eventId}}" name="event_id" value="{{eventId}}">
            </div>

            {% for user in users %}
            <div class="form-group">
                <label for="user_id" class="form-label mt-4"><font style="vertical-align: inherit;"></font></label>
                <input type="hidden" class="form-control" id="{{user.id}}" name="user_id" value="{{user.id}}">
            </div>

            <div class="form-group">
                <h3 class="card-header text-center"><font style="vertical-align: inherit;"></font>{{user.firstname}}</h3>
            </div>
            {% endfor %}

                <div class="form-group">
                    <label for="type" class="form-label mt-4"><font style="vertical-align: inherit;"></font></label>
                    <input type="text" class="form-control" id="{{eventId}}" name="type" placeholder="Propose / demande ?">
                </div>

                <div class="form-group">
                    <label for="nombre" class="form-label mt-4"><font style="vertical-align: inherit;"></font></label>
                    <input type="text" class="form-control" id="{{eventId}}" name="nb_seat" placeholder="Nombre de place ">
                </div>

                <div class="form-group">
                    <label for="adresse" class="form-label mt-4"><font style="vertical-align: inherit;"></font></label>
                    <input type="text" class="form-control" id="{{eventId}}" name="adress" placeholder="Adresse ">
                </div>

                <div class="form-group">
                    <label for="depart" class="form-label mt-4"><font style="vertical-align: inherit;"></font>Heure de Depart</label>
                    <input type="datetime-local" class="form-control" id="{{eventId}}" name="departure_time" placeholder="Heure de depart ">
                </div>

                <div class="form-group">
                    <label for="direction" class="form-label mt-4"><font style="vertical-align: inherit;">Quel portion ?</font></label>
                    <select multiple="" class="form-select" id="{{eventId}}" name="direction">
                        <option><font style="vertical-align: inherit;">Allez </font></option>
                        <option><font style="vertical-align: inherit;">Retour </font></option>
                        <option><font style="vertical-align: inherit;">Allez / Retour </font></option>
                    </select>
                </div>      

            <div class="form-group mt-4">
                <input type="submit" method="POST" value="Soumettre" class="btn btn-primary"><font style="vertical-align: inherit;"></font></input>
            </div> 
    </form>
</div>
{% endblock %}